.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

  .form-container-login {
    text-align: center;
    min-width: 300px; 
    max-width: 80%; 
    background-color: rgba(245, 245, 245, 0.733);
    padding: 25px;
    color: rgba(33, 33, 33, 0.867);
    border-radius: 6px;
    border: whitesmoke 1px solid;
  }
  
  
  @media (max-width: 768px) {
    .form-container-login {
      min-width: 80%; 
    }
  
    .cadastro {
      left: 50%;
      transform: translateX(-50%);
      top: auto; 
    }
  }
  