body {
  background-image: url('../background-pizza.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  height: 500px;
  margin: 150px auto;
  padding: 20px;
  position: relative;
}

.button-container {
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 10px;
  right: 10px;
  margin-top: 20px;
}