.pizza-button {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    background-color: #fff;
    text-align: left;
    width: 100%;
}

.pizza-button h3 {
    margin: 0;
    font-size: 18px;
}

.pizza-button p {
    margin: 5px 0;
    font-size: 14px;
}

/* Estilo para quando o botão estiver selecionado */
.pizza-button.selected {
    border: 2px solid green;
}