.home_container{
    position: fixed;
    top: 300px;
    width: 1000px;
    height: 700px;
    background-color:rgba(245, 245, 245, 0.733);
    padding: 25px;
    color: rgba(33, 33, 33, 0.867);
    border-radius:6px;
    border: whitesmoke 1px solid; 
}