.navbar {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 4em;
    max-height: 4vh;
    background-color: rgb(159, 49, 51);
    border-bottom: rgba(245, 245, 245, 0.851) 1px solid;
    font-family: 'Bebas Neue', sans-serif;
}

.img{
    max-width: 4m;
    max-height: 4em;
    width: auto;
    height: auto;
}

.brand {
    font-size: 1.2em;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.links_list {
    display: flex;
    list-style: none;
}

.links_list li {
    margin-right: 1em;
    color: #fff;
    text-decoration: none;
}

.links_list li a {
    padding: 0.4em 0.6em;
    color: #fff;
    text-decoration: none;
}

.links_list li a:hover {
    color:rgba(226, 194, 155)
}