.page-container {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 70%;
  height: 100vh;
  margin: 50px auto;
  padding: 20px;
  display: flex; 
  align-items: center; 
  position: relative;
}

.value-total {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.left-section, .right-section {
  width: 48%; 
}

.header, .section-header {
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  text-align: center;
  line-height: 1.5;
}

.address-section,
.payment-section {
  margin-top: 20px;
}

  .payment-section .header {
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; 
  }
  
  .expand-button {
    width: 100%;
  }
  
  .expand-button button {
    width: 100%;
    padding: 20px; 
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .expand-button button:hover {
    background-color: #f0f0f0;
  }
  
  .payment-options ul {
    list-style: none;
    padding: 0;
  }
  
  .payment-options li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color 0.3s ease; 
  }
  
  .payment-options li:hover {
    background-color: white;
  }
  
  
  .payment-options.show {
    display: block;
  }
  
  
  .endereco-salvo {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color 0.3s ease;
  }
  
  .endereco-salvo:hover {
    background-color: white;
  }
  @keyframes cascade {
    from {
      transform: translateY(-10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .endereco-salvo.selected {
    background-color: #f0f0f0;
  }
  
  .endereco-salvo p {
    margin: 0;
  }
  
  .endereco-descricao {
    font-weight: bold;
    font-size: 16px; 
    text-align: center; 
  }
  
  .endereco-texto {
    font-size: 14px; 
  }
  
  .endereco-texto .cep {
    font-weight: bold; 
    margin-bottom: 5px; 
  }
  
  .new-address-form form {
    display: flex;
    flex-direction: column;
  }
  
  .new-address-form input,
  .new-address-form button {
    margin-bottom: 10px;
  }
  
  .right-section .payment-section .expand-button button {
    width: 100%; 
  }
  
  .right-section .payment-section .expand-button button:last-child {
    margin-right: 0;
  }
  
  .buttons-container {
    display: flex;
    justify-content: space-between;
  }
  
  .buttons-container button {
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .payment-section .expand-button {
    position: relative;
  }
  
  .payment-section .balloon {
    position: absolute;
    background-color: #f0f0f0; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    top: -40px;
    left: -10px; 
    z-index: 1; 
  }
  
  .payment-section .balloon::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: #f0f0f0 transparent transparent transparent;
    transform: translateX(-50%);
  }
  .buttons-container-outer {
    text-align: center;
    margin-top: 20px;
  }
  
  .buttons-container button {
    padding: 15px; 
    font-size: 18px; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(159, 49, 51);; 
    transition: background-color 0.3s ease; 
  }
  
  .buttons-container button:hover {
    background-color: rgb(123, 9, 9); 
  }